extends layout
append head
    link(href='/stylesheets/reset.css' rel='stylesheet')
    link(href='/stylesheets/header-footer.css' rel='stylesheet')
    link(href='/stylesheets/singleStory.css' rel='stylesheet')
    script(src='/JS/single-story.js' type='module')
    body
        div(class="grid-container")
            div(class="Header")
                div(class="left-items")
                    a(href='/users')
                        img(class='miniLogo' src='https://i.imgur.com/IgoFy68.png')
                    a(href='/stories/submit-story' id='submit-story-link-button' class='link-button')
                        img(class='submitStory' src= 'https://i.imgur.com/kh845iH.png?1')
                div(class="right-items")
                    a(href='/users/logout' id='user-profile-button' class='link-button')
                        img(src='https://i.imgur.com/KP11L1y.png?1' class= "logout-button")
                    a(href='/users/profile' id='user-profile-button' class='link-button')
                        img(class= 'profileButton' src = 'https://i.imgur.com/zB0xU1K.png?1')
            div(class="Left-Sidebar")

                if isUser
                    div(class="edit-delete")
                        //- a(href=`/stories/edit/${apiNumber}`) Edit
                        form(method='GET', action=(`/stories/edit/${apiNumber}`))
                            button(type='submit' id='edit-story-button') Edit
                        div(id=`stories-delete-${apiNumber}`)
                            button(id='delete-story-button') Delete
                div(class="edit-delete")
            div(class="Main-Content" id="Main-Content")
                if errors
                    div(class='alert-alert-danger' role='alert')
                        p The following error(s) occurred:
                        ul
                            each error in errors
                                li= error
                div(id="current-story-api-number" class= `${apiNumber}`)
            //- div(id="buffer")
            div(class="Right-Sidebar")
            div(class="Footer")
                div(class='creators-info')
                    div(class='purple-filter')
                        a(href='https://github.com/jSchutza')
                            div(id='joshDiv')
                                img(src='https://i.imgur.com/8gXNaxd.jpg' id='person-img' class='person-img')
                    div(class='purple-filter')
                        a(href='https://github.com/jxnprince')
                            div(id='jacksonDiv')
                                img(src='https://i.imgur.com/O7VszxE.jpg' id='person-img' class='person-img')
                    div(class='purple-filter')
                        a(href='https://github.com/robert-debug')
                            div(id='robertDiv')
                                img(src='https://i.imgur.com/T1ho184.jpg' id='person-img' class='person-img')
                    div(class='purple-filter')
                        a(href='https://github.com/TroyD9241')
                            div(id='troyDiv')
                                img(src='https://i.imgur.com/20xUGOw.jpg' id='person-img' class='person-img')
